@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
html {
    width: 100vw;
}
body {
  display: flex;
  width: 100%;
  height: 100%;
  background: #e3eeff;
  color: #22223f;
  flex-direction: column;
  font-family: 'Lexend', sans-serif;
}
.header {
    width: 100%;
}
.title {
  padding: 2vw;
}
.navbar {
  display: flex;
  margin: 2vw;
  padding: 4vh;
  height: 3vw;
  justify-content: space-between;
  align-items: center;
}
.nav-content {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.content-item {
  padding: 1px;
  margin: 1px;
  width: 7em;
  user-select: none;
}
.content-item:hover {
  border-radius: 2em;
  background: linear-gradient(145deg, #f3ffff, #ccd6e6);
  box-shadow:  8px 8px 16px #cfd9e8,
             -8px -8px 16px #f7ffff;
  cursor: pointer;
}
.top-bottom {
  background: #34334f;
  width: 100%;
  height: 20%;
  border-radius: 1em;
}
.middle {
  background: #34334f;
  width: 70%;
  height: 20%;
  border-radius: 1em;
}
@media (max-width: 1000px){
  .navbar {
    flex-direction: column;
    justify-content: center;
    height: auto;
    align-items: center;
  }
  .nav-content {
    justify-content: center;
    align-items: center;
  }
  .eef {
      margin: 100px;
  }
}
@media (max-width: 540px){
  h1 {
    text-align: center;
  }
  h3 {
    color: white;
    text-shadow: 0px 10px 8px rgba(22,22,55,0.3);
  }
  .navbar {
    flex-direction: column;
    height: auto;
    justify-content: center;
  }
  .nav-content {
    flex-direction: column;
    order: 2;
    align-items: center;
  }
  .nav-words {
      font-size: 18px;
  }
  .eef {
      margin: 80px;
  }
}

main {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
}
a {
    text-decoration: none;
    color: #34334f;
}
p {
    position: relative;
    display: block;
    font-size: 22px;
    text-align: center;
    
}
.eef {
    bottom: 80px;
}
.big {
    font-size: 30vw;
    height: auto;
    margin: 1vw;
    user-select: none;
}
@media (min-width: 800px){
    .big {
        font-size: 20vw;
    }
}
h3 {
    align-self: flex-end;
    font-size: 16vw;
    color: white;
    text-shadow: 0px 25px 25px rgba(22,22,55,0.5);
}

.container {
    width: 100%;
    height: auto;
    display:flex;
    justify-content: center;
}

.socials {
    position: relative;
    font-size: 80px;
    padding: 15px 30px 15px 30px;
    margin: 0px 50px 0px 50px;
    border-radius: 40px;
    background: #e3eeff;
    box-shadow:  10px 10px 20px #d1dbeb,
                 -10px -10px 20px #f5ffff;
    bottom: 32px;
}
